{% extends "admin/base_site.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Annual Results Report</title>
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
</head>
<body>

{% block content %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Numbers</title>
</head>
<body>




    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Column, Two Row Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px auto;
        }

    
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <table style="width: 100%; border-collapse: collapse; text-align: center;">
        <tr>
            <td width="50%">
                <h4 class="card-title">School Performance</h4>
                <canvas id="barChart"></canvas>
            </td>
            <td width="50%">
                <h4 class="card-title">Students Admission</h4>
                <canvas id="lineChart"></canvas>
            </td>
        </tr>
       
    </table>
    
</body>
</html>


    



 



    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
  
    
</body>
</html>















{% endblock %}
